<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<%- include('blocks/links_header') %>
</head>
<body>  
<div class="page-container">    
   <div class="left-content">
       <div class="mother-grid-inner">
            <!--header start here-->
                <%- include('blocks/header') %>
                <div style="min-height:79vh;">
                    
                </div>
<div class="copyrights">
     <p>© AlleyBakers. All Rights Reserved</p>
</div>  
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <%- include('blocks/left_menu') %>
    <div class="clearfix"></div>
</div>
<%- include('blocks/links_js') %>
</body>
</html>